# spark/requirements.txt

# Указываем pyspark, чтобы быть уверенными в версии
pyspark==3.5.7

# Библиотека для подключения к Redis
redis

# Библиотека для взаимодействия с S3-совместимыми хранилищами, такими как Minio
boto3