# Провайдер для более удобной и нативной интеграции с Apache Spark.
# Даже если мы используем BashOperator, иметь его - хорошая практика.
apache-airflow-providers-apache-spark

# Библиотека для взаимодействия с S3-совместимыми хранилищами, такими как Minio.
# Понадобится, если мы решим использовать PythonOperator для работы с Minio.
minio

# Библиотека для подключения к Redis.
# Может понадобиться для кастомных проверок внутри Airflow.
redis

psycopg2-binary